<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Todo List</h1>
            <div class="todo-wr">
                <app-input
                  (taskCreated)="onAddTask($event)"
                ></app-input>
              <ul class="todo-wr__table list-group">
                <app-table
                  (taskDeleted)="onDeleteTask($event)"
                  *ngFor="let task of taskList; let i = index"
                  [task]="task"
                ></app-table>
              </ul>
            </div>
        </div>
    </div>
</div>
